.portfolio_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
}
.tag-buttons{
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 3rem;
    
}

.tag-buttons button{
    font-size: medium;
    background: var(--color-bg-variant);
    color: rgb(203, 227, 250);
    padding: 13px 25px;
    border-radius: 1rem;
    border: 1px solid transparent;
    
}
.tag-buttons button.active {
    background: rgba(var(--color-bg-variant-rgb), 0.5); /* Adjust the alpha value (0.5 for 50% transparency) */
    border-color: var(--color-primary-variant);
}
.tag-buttons button:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio_item{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
}

.portfolio_item:hover{
border-color: var(--color-primary-variant);
background: transparent;
}
.portfolio_item-img{
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio_item h5{
    margin: 1.2rem 0 2rem;
}

.portfolio_item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width:1024px){
    .portfolio_container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
    }
    @media screen and (max-width:600px){
    .portfolio_container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .tag-buttons{
        gap: 5px;
    }
    .tag-buttons button{
        font-size: smaller;
    }
    }